body {
	background-image: url("img/background.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	#wrapper {
		width: 80%;
		height: auto;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		.product-wrapper {
			width: 400px;
			height: auto;
			display: inline-block;
			margin-left: 100px;
			margin-bottom: 10px;
			background-color: white;
			box-shadow: 10px 10px 5px #888888;
		}
		#single-box{
			width: 90%;
			height: 90%;
			z-index: 100;
			position: fixed;
			//right: 0px;
			top: 100;
			float: center;
			margin-left: auto;
			margin-right: auto;
			background-color: white;
			#single-post{
				
			}
		}	
		#inner {
			width: 100%;
			height: 400px;
			overflow: hidden;
			position: absolute;
			top: 50%;
			left: 0;
			margin: -100px 0 0 0;
		}
		#carousel img {
			height: auto;
			border: none;
			display: block;
			float: left;
			padding: 0 10px;
		}
		
	}
}