body {
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; }
  body #wrapper {
    width: 85%;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; }
    body #wrapper .product-wrapper {
      width: 400px;
      height: auto;
      display: inline-block;
      margin-left: 100px;
      margin-bottom: 10px;
      background-color: white;
      box-shadow: 10px 10px 5px #888888; }
    body #wrapper .primary-sidebar {
      height: 500px;
      width: 100%;
      background-color: red; }
    body #wrapper #single-bix {
      width: 90%;
      height: 90%;
      z-index: 1;
      background-color: blue;
      position: fixed; }
